<header class="cart-header">
  <h1 class="cart-header__title">
    <%= t('spree.shopping_cart') %>
  </h1>

  <div class="cart-header__actions">
    <%= render(
      'spree/components/buttons/button_primary',
      bordered: true,
      content: t("spree.update"),
      id: 'update-button',
      name: :button,
      small: true,
      type: :submit
    ) %>
  </div>
</header>
