<header class="header">
  <div class="header__secondary-navigation">
    <%= render 'spree/layouts/top_bar', taxons: taxons, taxon: taxon %>
  </div>
  <div class="header__primary-navigation">
    <div class="category-navigation">
      <%= render 'spree/shared/navigation/categories', taxon: taxon %>
    </div>
  </div>
</header>
