<header class="header">
  <div class="header__secondary-navigation">
    <%= render 'spree/layouts/top_bar', taxons: taxons, taxon: taxon %>
  </div>
  <div class="header__primary-navigation">
    <%= render 'spree/shared/navigation/category_navigation' %>
  </div>
</header>
