<div class="top-bar">
  <%= render 'spree/shared/brand/logo' %>
  <div class="top-bar__search">
    <%= render 'spree/shared/search/search_bar', taxons: taxons, taxon: taxon %>
  </div>
  <%= render 'spree/shared/auth/auth_link' %>
  <%= render 'spree/shared/cart/cart_link' %>
</div>
