<%
  base_class = "search-bar".freeze

  # Data
  @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots
  options = [[t('spree.all_departments'), '']] + @taxons.map {|t| [t.name, t.id]}
  selected = @taxon ? @taxon.id : params[:taxon]

  # Classes
  classes = local_assigns.fetch(:classes, [])
  class_names = classes.push(base_class).join(" ")
%>

<%= form_tag spree.products_path, class: class_names, method: :get do %>
  <% cache [I18n.locale, @taxons] do %>
    <%= select_tag(
      :taxon,
      options_for_select(options, selected),
      class: "#{base_class}__select"
    ) %>
  <% end %>

  <input
    name="keywords"
    placeholder="Hoodie, mug, shirt..."
    type="search"
    class="<%= "#{base_class}__input" %>"
  >

  <button
    type="submit"
    class="<%= "#{base_class}__button" %>"
  >
    Search
  </button>
<% end %>
