.hero {
  background: $color-background-dark;
  color: $color-copy-bright;
  padding: 10rem 0;

  &_container {
    display: flex;
    margin: 0 auto;
    max-width: 114rem;
    padding: 0 2rem;
  }

  &_message {
    padding-right: 2rem;
    width: 50%;
  }
}
