.hero {
  background: $color-background-dark;
  color: $color-copy-bright;
  padding: 10rem 0;

  &__container {
    @extend %section-spacings;
    display: flex;
  }

  &__message {
    padding-right: 2rem;
    width: 50%;
  }
}
