<%
  # Optional props
  stock_info = local_assigns.fetch(:stock_info, true)
%>

<div class="item-info">
  <h2 class="item-info__name">
    <%= link_to line_item.name, product_path(variant.product) %>
  </h2>

  <p class="item-info__options">
    <%= variant.options_text %>
  </p>

  <% if stock_info && line_item.insufficient_stock? %>
    <p class="item-info__stock">
      <%= t('spree.out_of_stock') %>
    </p>
  <% end %>

  <p class="item-info__description">
    <%= variant.product.description.nil? ||  variant.product.description.empty? ?
      t('spree.product_has_no_description') :
      truncated_product_description(variant.product) %>
  </p>
</div>
