.checkout-summary {
  font-size: 1.3rem;

  &__title {
    font-size: 1.8rem;
    margin: 1rem 0;
  }

  &__entry,
  &__total {
    display: flex;

    > dt {
      flex-grow: 1;
    }

    > dd {
      font-weight: 600;
    }
  }

  &__entry {
    margin: .5rem 0;
  }

  &__total {
    border-top: solid 1px $color-border;
    margin-top: 1.5rem;
    padding-top: 1rem;
  }
}
