.checkout-header {
  margin-bottom: 3rem;

  @include tablet {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  &__title {
    font-size: $h4-font-size;
    margin-bottom: 0;
    margin-right: 0;

    @include tablet {
      margin-right: 20px;
    }
  }
}
