/*--------------------------------------*/
/* Colors
/*--------------------------------------*/

$color_accent: #3C76f0;

$color_background_dark: #24282f;
$color_background_light: #f2f2f2;

$color_copy: #222;
$color_copy_light: #777;
$color_copy_bright: #fff;
