/*--------------------------------------*/
/* Colors
/*--------------------------------------*/

$color_accent: #3C76f0;

$color-background-alert: #fdd200;
$color-background-dark: #24282f;
$color-background-error: #e4361b;
$color-background-light: #f2f2f2;
$color-background-success: #1bc16d;

$color-border: #ddd;
$color-border-dark: #222;
$color-border-light: #f2f2f2;

$color-copy: #222;
$color-copy-light: #777;
$color-copy-bright: #fff;
