<%
  base_class = "hero-title".freeze

  # Classes
  classes = local_assigns.fetch(:classes, [])
  class_names = classes.push(base_class).join(" ")
%>

<h1 class="<%= class_names %>">
  <%= content %>
</h1>
