<%
  base_class = "subtitle".freeze

  # Classes
  classes = local_assigns.fetch(:classes, [])
  class_names = classes.push(base_class).join(" ")
%>

<p class="<%= class_names %>">
  <%= content %>
</p>
