.product-taxons {
  &__title {
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    margin-bottom: .5rem;
  }

  &__list {
    display: flex;
    font-size: $font-size-small;
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      margin: .5rem;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $link-color-accent;

        &:hover {
          color: $link-color-accent-hover;
        }
      }
    }
  }
}
