.product-submit {
  margin: 0 0 3rem;

  &__title {
    font-size: 1.8rem;
    font-weight: $headings-font-weight;
  }

  .horizontal-input-group__input {
    width: 26%;
  }

  .horizontal-input-group__action {
    width: 100%;
    
    button {
      width: 100%;
    }
  }
}
