.products {
  @extend %section-spacings;
  padding-top: 3rem;

  @include desktop {
    display: flex;
  }

  &__taxon-title {
    font-size: $h4-font-size;
  }

  &__results-title {
    font-size: $font-size-base;
    font-weight: $font-weight-base;
  }
}
