.product-page {
  margin: 0 auto;
  max-width: 86rem;
  padding: 8rem 3rem;

  @include desktop {
    display: flex;

    &__images,
    &__info {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  &__images {
    @include desktop {
      padding-right: 4rem;
      width: 60%;
    }
  }

  &__info {
    margin-top: 3rem;

    @include desktop {
      margin-top: 0;
      width: 40%;
    }
  }
}
