.product-submit {
  margin: 0 0 3rem;

  &__title {
    font-size: $h4-font-size;
  }

  .horizontal-input-group__input {
    width: 26%;
  }

  .horizontal-input-group__action {
    width: 100%;
    
    button {
      width: 100%;
    }
  }
}
