.product-variants {
  margin: 0 0 3rem;

  &__title {
    font-size: $h6-font-size;
    text-transform: uppercase;
  }

  &__list {
    font-size: $font-size-small;
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      margin: 0 0 1.2rem;

      input,
      label {
        vertical-align: middle;
      }
    }

    input[checked="checked"] + label {
      font-weight: $font-weight-bolder;
    }
  }
}
