<article class="checkout">
  <%= render "spree/shared/error_messages", target: @order %>
  <%= render "spree/components/checkout/checkout_header" %>

  <div class="checkout__main">
    <section class="checkout__step">
      <%= render "spree/components/checkout/checkout_step" %>
    </section>

    <% if @order.state != "confirm" %>
      <div class="checkout__summary">
        <%= render "spree/components/checkout/checkout_summary", order: @order %>
      </div>
    <% end %>
  </div>
</article>
