<%
  base_class = "checkbox-input".freeze

  # Optional props
  checked = local_assigns.fetch(:checked, false)
  disabled = local_assigns.fetch(:disabled, false)
  id = local_assigns.fetch(:id, nil)
  value = local_assigns.fetch(:value, nil)

  # Classes
  class_names = [base_class]
  class_names = class_names.join(" ")
%>

<label
  class="<%= class_names %>"
  <% if id %>
    for="<%= id %>"
  <% end %>
>
  <%= check_box_tag(
    name,
    value,
    checked,
    disabled: disabled,
    id: id
  ) %>
  <%= label %>
</label>
