<%
  base_class = "select-input".freeze

  # Optional props
  disabled = false if local_assigns[:disabled].nil?
  id = nil if local_assigns[:id].nil?
  label = false if local_assigns[:label].nil?
  selected = nil if local_assigns[:selected].nil?

  # Classes
  class_names = [base_class]
  class_names = class_names.join(" ")
%>

<div class="<%= class_names %>">
  <% if label %>
    <label
      <% if id %>
        for="<%= id %>"
      <% end %>
    >
      <%= label %>:
    </label>
  <% end %>

  <%= select_tag(
    name,
    options_for_select(options, selected),
    disabled: disabled
  ) %>
</div>
