<% promotions = @product.possible_promotions %>

<% if promotions.any? %>
  <h3><%= t('spree.promotions') %></h3>

  <% promotions.each do |promotion| %>
    <article>
      <header>
        <h4><%= promotion.name %></h4>
      </header>

      <p><%= promotion.description %></p>

      <% if promotion.products.any? %>
        <ul>
          <% promotion.products.each do |product| %>
            <li><%= link_to product.name, product_path(product) %></li>
          <% end %>
        </ul>
      <% end %>
    </article>
  <% end %>
<% end %>
