<% if !@product.taxons.blank? %>
  <h6>
    <%= t('spree.look_for_similar_items') %>
  </h6>

  <ul>
    <% @product.taxons.each do |taxon| %>
      <li>
        <%= link_to taxon.name, seo_url(taxon) %>
      </li>
    <% end %>
  </ul>
<% end %>
