.taxonomy {
  margin-bottom: 3rem;

  &__title {
    color: $color-copy-lighter;
    font-size: $font-size-small - .1;
    text-transform: uppercase;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__list {
    list-style: none;
    margin: 0 0 3rem;
    padding: 0;

    li {
      align-items: center;
      display: flex;
      margin: .5rem 0;

      a {
        color: $color-copy;

        &:hover {
          color: $color_accent;
        }
      }

      &.current {
        font-weight: $font-weight-bold;
      }
    }
  }
}
