.payment-step {
  &__payment {
    background: $color-background-lighter;
    border: solid 1px $color-border-light;
    margin-bottom: 2rem;
    padding: 1.5rem 3rem;

    > legend {
      font-size: $font-size-small;
      font-weight: $font-weight-bolder;
      text-transform: uppercase;
    }

  }

  &__details {
    display: block;
    border: 0;
    padding: 0;
    margin: 1em;

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__selector {
    list-style-type: none;
    padding-left: 0;
    > li {
      margin-bottom: 1.5em;
      > label {
        font-weight: bold;
      }
      > div {
        padding: 1em;
      }
    }
  }
}
