<%
  schema_properties = {
    itemprop: 'offers',
    itemscope: true,
    itemtype: 'http://schema.org/Offer'
  }
%>

<%= form_tag populate_orders_path, schema_properties do |f| %>
  <%= render 'product_variants', product: product, form: f %>

  <% if product.price_for_options(current_pricing_options)&.money and !product.price.nil? %>
    <%= render 'product_submit', product: product %>
  <% else %>
    <div id="product-price">
      <p data-js="price" itemprop="price">
        <%= t('spree.product_not_available_in_this_currency') %>
      </p>
    </div>
  <% end %>
<% end %>
