<div class="product-submit">
  <%= render 'product_availability', product: @product %>

  <div class="horizontal-input-group">
    <div class="horizontal-input-group__input">
      <%= render(
        "spree/components/forms/inputs/text",
        id: :quantity,
        min: 1,
        name: :quantity,
        type: :number,
        value: 1
      ) %>
    </div>
    <div class="horizontal-input-group__action">
      <%= render(
        'spree/components/buttons/button_primary',
        content: t('spree.add_to_cart'),
        id: 'add-to-cart-button',
        name: :button,
        type: :submit
      ) %>
    </div>
  </div>
</div>
