<header class="product-info">
  <%= render 'product_header', product: product %>

  <p class="product-info__description" itemprop="description">
    <%= product_description(product) rescue t('spree.product_has_no_description') %>
  </p>
</header>
