<% if @product.price_for(current_pricing_options) and !@product.price.nil? %>
  <h2 class="product-price" id="product-price">
    <%= content_tag(
      :span,
      display_price(@product),
      itemprop: 'price',
      content: @product.price_for(current_pricing_options).to_d,
      data: { js: 'price' }
    ) %>

    <span
      itemprop="priceCurrency"
      content="<%= current_pricing_options.currency %>"
    ></span>
  </h2>
<% end %>
