<section class="hero">
  <div class="hero__container">
    <div class="hero__message">
      <%= render(
        "spree/components/typography/hero_title",
        content: "The only eCommerce platform you’ll ever need."
      ) %>
      <%= render(
        "spree/components/typography/subtitle",
        content: "Build, customize and scale your store with no limits or license fees. Solidus is the free, open-source eCommerce framework for digitally-native brands, fast-growing online businesses and pragmatic developers."
      ) %>
    </div>
  </div>
</section>
