.cart-page {
  margin: 0 auto;
  max-width: 86rem;
  padding: 8rem 2rem;

  &__coupon-code {
    display: flex;
    justify-content: flex-end;

    @include desktop {
      display: block;
      margin-top: -7.5rem;
    }
  }
}
