.cart-footer {
  align-items: center;
  display: flex;
  font-size: 1.3rem;
  margin: 4rem 0;

  &__total {
    flex-grow: 1;
    margin: 0;
    text-align: right;

    > strong {
      font-size: 1.8rem;
    }
  }

  &__primary-action {
    padding-left: 2rem;
  }
}
