.cart-secondary-actions {
  display: flex;
  font-size: $font-size-small;
  margin-top: 10rem;

  &__continue {
    &::before {
      content: "←";
      font-size: $font-size-small - .2;
      margin-right: .3rem;
    }

    &::after {
      content: "or";
      margin-left: 1rem;
      margin-right: .6rem;
    }
    
    a {
      color: $link-color-accent;

      &:hover {
        color: $link-color-accent-hover;
      }
    }
  }
}
