.cart-link {
  > a {
    font-size: $font-size-small;
    text-transform: uppercase;

    > span {
      color: #fff;
      background: $color_accent;
      border-radius: 2rem;
      font-weight: $font-weight-bolder;
      margin-left: .3rem;
      padding: .5rem 1.2rem;

      .money-decimal {
        font-size: $font-size-small - .2;
      }
    }
  }
}
