.item-info {
  &__name {
    margin-bottom: .5rem;
    font-size: $font-size-base;

    a {
      color: $color-copy;
      font-weight: $headings-font-weight;

      &:hover {
        color:  $color_accent;
      }
    }
  }

  &__options {
    margin-bottom: 1rem;
  }

  &__description {
    color: $color-copy-light;
    font-size: $font-size-small - .1;
    font-style: italic;
    margin: 0;
  }
}
