<nav class="taxonomies">
  <a href="/products">All</a>
  <% @taxonomies.each do |taxonomy| %>
    <% cache [I18n.locale, taxonomy, @taxon] do %>
      <%= taxons_tree(taxonomy.root, @taxon, 1) %>
    <% end %>
  <% end %>
</nav>
