<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>

<nav class="taxonomies">
  <a href="/products">All</a>
  <% cache [I18n.locale, taxonomies, max_level] do %>
    <% taxonomies.each do |taxonomy| %>
      <% cache [I18n.locale, taxonomy, @taxon, max_level] do %>
        <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
      <% end %>
    <% end %>
  <% end %>
</nav>
