<% categories = Spree::Taxonomy.includes(root: :children).first %>

<nav class="categories">
  <%= link_to 'All', products_path %>
  <% cache [I18n.locale, categories, @taxon] do %>
    <%= render(
      'spree/components/navigation/taxons_tree',
      root: categories.root,
      current: @taxon,
      depth: 1,
      base_class: 'categories') if categories %>
  <% end %>
</nav>
