<%
  available_locales = current_store.available_locales.map do |locale|
    [
      I18n.t('spree.i18n.this_file_language',
      locale: locale,
      default: locale.to_s,
      fallback: false), locale
    ]
  end.sort
%>

<% if available_locales.many? %>
  <div class="locale-selector">
    <%= form_tag spree.select_locale_path do %>
      <%= render(
        "spree/components/forms/inputs/select_input",
        name: :switch_to_locale,
        options: available_locales,
        selected: I18n.locale,
        label: I18n.t('spree.i18n.language'),
        classes: ['locale-selector__select-input']
      ) %>
    <% end %>
  </div>
<% end %>
