<section class="hero">
  <div class="hero_container">
    <div class="hero_message">
      <%= render(
        "spree/components/typography/hero_title",
        content: "A free, open-source ecommerce platform that gives you complete control over your store."
      ) %>
      <%= render(
        "spree/components/typography/subtitle",
        content: "Running a high-volume online business isn’t easy – but it doesn’t have to be a headache, either."
      ) %>
    </div>
  </div>
</section>
