<% shipments = order.shipments.trackable %>

<% if shipments.any? %>
  <h6><%= t('spree.tracking') %></h6>

  <ul>
    <% shipments.each do |shipment| %>
      <li><%= link_to_tracking(shipment) %></li>
    <% end %>
  </ul>
<% end %>
