html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: $color-copy;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  text-align: left;
  text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
}

label {
  font-weight: $font-weight-bold;
  margin-bottom: 1rem;
}

code,
pre {
  font-family: $font-family-monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

p {
  margin-bottom: 1.5rem;
  margin-top: 0;
}

a {
  font-weight: $font-weight-bold;
  color: $link-color;
  text-decoration: none;
  transition: all ease .2s;
  
  &:hover {
    color: $link-color-hover;
  }
}
