<%
  # Optional props
  size = local_assigns.fetch(:size, :mini)
  itemprop = local_assigns.fetch(:itemprop, nil)
  classes = local_assigns.fetch(:classes, '')
  data = local_assigns.fetch(:data, {})
%>

<% if image_url = image.try(:url, size) %>
  <%= image_tag image_url, alt: image.try(:alt), itemprop: itemprop, class: classes, data: data %>
<% else %>
  <div class="image-placeholder <%= size %>"></div>
<% end %>
