module SystemHelpers
  def checkout_as_guest
    click_button "Checkout"

    <%- if include_authentication? -%>
    within '#guest_checkout' do
      fill_in 'Email', with: 'test@example.com'
    end
    <%- end -%>

    click_on 'Continue'
  end
end
