<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>

<nav class="taxonomies">
  <%= link_to 'All', products_path %>
  <% cache [I18n.locale, taxonomies, max_level] do %>
    <% taxonomies.each do |taxonomy| %>
      <% cache [I18n.locale, taxonomy, @taxon, max_level] do %>
        <%= render(
          'spree/shared/navigation/taxons_tree',
          root: taxonomy.root,
          current: @taxon,
          depth: max_level,
          base_class: 'taxonomy') if taxonomy %>
      <% end %>
    <% end %>
  <% end %>
</nav>
