.payment-step {
  &__payment {
    border: solid 1px $color-border;
    margin-bottom: 2rem;
    padding: 1.5rem;

    > legend {
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
