<header class="header">
  <div class="header__secondary-navigation">
    <%= render partial: 'spree/components/layout/top_bar' %>
  </div>
  <div class="header__primary-navigation">
    <%= render partial: 'spree/components/layout/category_navigation' %>
  </div>
</header>
