<div class="top-bar">
  <%= render partial: 'spree/components/brand/logo' %>
  <div class="top-bar__search">
    <%= render partial: 'spree/components/search/search_bar' %>
  </div>
  <%= render partial: 'spree/components/navigation/auth_link' %>
  <%= render partial: 'spree/components/cart/cart_link' %>
</div>
