<%= form_for @order, url: update_checkout_path(@order.state), html: {class: "coupon-code"} do %>
  <div class="coupon-code__input">
    <%= render(
      'spree/components/forms/inputs/text',
      id: 'order_coupon_code',
      name: 'order[coupon_code]',
      placeholder: t("spree.coupon_code"),
      small: true
    ) %>
  </div>

  <div class="coupon-code__action">
    <%= render(
      'spree/components/buttons/button_primary',
      content: t('spree.apply_code'),
      id: 'coupon-code-apply-button',
      name: :commit,
      small: true,
      type: :submit
    ) %>
  </div>
<% end %>

<p id="coupon_status"></p>
