<ul class="payment-selector">
  <% methods.each do |method| %>
    <li>
      <%= render(
        'spree/components/forms/inputs/radio_input',
        checked: method == @order.available_payment_methods.first,
        id: "order_payments_attributes__payment_method_id_#{method.id}",
        label: t(method.name, scope: 'spree.payment_methods', default: method.name),
        name: "order[payments_attributes][][payment_method_id]",
        value: method.id
      ) %>
    </li>
  <% end %>
</ul>
