.search-bar {
  border: solid 1px $color-border-medium;
  border-radius: 2px;
  display: flex;
  font-size: $input-font-size;
  height: 4.6rem;
  position: relative;

  &__select {
    appearance: none;
    background: $color-background-light;
    border: 0;
    border-radius: 0;
    border-right: solid 1px $color-accent;
    display: none;
    padding: 0 2rem;
  }

  &__input {
    border: 0;
    flex-grow: 1;
    padding: 0 2rem;
    outline: none;
  }

  &__button {
    background: $color-background-light;
    border: 0;
    border-left: 1px solid $color-border-medium;
    color: $color-copy-light;
    font-weight: $buttons-font-weight;
    padding: 0 2rem;
  }
}

// Solidus Demo override
// https://github.com/solidusio/solidus-demo/blob/3c11395ef6bfda0b906f68dbd11ab5ff567da747/app/assets/stylesheets/components/search/_search_bar.scss

.search-bar {
  border: 0;

  &__input {
    border-bottom: 1px solid #d8d8dd;
    padding: 0 1rem;
    border-radius: 0;
    -webkit-appearance: none;
  }

  &__button {
    border-left: 0;
    background: transparent;
    padding: 0 2rem 0 1rem;
  }
}
