.cart-link {
  > a {
    font-size: $font-size-small;
    text-transform: uppercase;

    > span {
      color: #fff;
      background: $color-accent;
      border-radius: 2rem;
      font-weight: $font-weight-bolder;
      margin-left: .3rem;
      padding: .5rem 1.2rem;

      .money-decimal {
        font-size: $font-size-small - .2;
      }
    }
  }
}

// https://github.com/solidusio/solidus-demo/blob/3c11395ef6bfda0b906f68dbd11ab5ff567da747/app/assets/stylesheets/components/cart/_cart_link.scss

$color-white:           #FFFFFF;
$color-blue:            #3C76F0;
$font-weight-bold:      600;
$font-size-base:        14px;

.cart-link {
  padding: 5px;
}

.cart-info {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: asset_data_url("icon-shopping-cart.svg") no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  position: relative;

  .link-text {
    color: $color-white;
    background: $color-blue;
    font-weight: $font-weight-bold;
    border-radius: 50px;
    font-size: $font-size-base / 1.2;
    text-align: center;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 22px;
    height: 22px;
    line-height: 22px;
  }
}
