.cart-footer {
  align-items: center;
  display: flex;
  font-size: $font-size-small;
  margin: 3.5rem 0;

  &__total {
    flex-grow: 1;
    margin: 0;
    text-align: right;

    > strong {
      font-size: $font-size-large;
      font-weight: $font-weight-bolder;
    }
  }

  &__primary-action {
    padding-left: 2rem;
  }
}
