<header class="product-header">
  <h1 class="product-header__title" itemprop="name">
    <%= product.name %>
  </h1>

  <% if product.price_for_options(current_pricing_options)&.money && product.price %>
    <h2 class="product-header__title" id="product-price">
      <span
        itemprop="price"
        content="<%= product.price_for_options(current_pricing_options)&.money.to_d %>"
        data-product-target="price"
      ><%= display_price(product) %></span>

      <span
        itemprop="priceCurrency"
        content="<%= current_pricing_options.currency %>"
      ></span>
    </h2>
  <% end %>
</header>
