<nav>
  <ul>
    <%= render 'spree/shared/locale_selector' %>
    <%= render 'spree/shared/login_bar_items' %>
    <li>
      <%= render partial: 'spree/components/search/products_search' %>
    </li>
  </ul>
</nav>
