.breadcrumbs {
  background: $color-background-lighter;
  border-bottom: 1px solid $color-border-light;
  font-size: $font-size-small;

  &__content {
    @extend %section-spacings;
    padding: 1rem 3rem;

    ol {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}
