<% @body_id = 'login' %>

<article class="auth-container" id="existing-customer">
  <h1><%= I18n.t('spree.login_as_existing') %></h1>

  <%= render partial: 'spree/components/auth/login_form' %>
</article>
